<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="sytlesheets/dashboard.css">
</head>

<body>
    <div class="dash_div">
        <div class="main_cont">
            <div class="profile">

                <h1>Welcome</h1>
                <h1>
                    <%= u_name %>
                </h1>
            </div>
            <div class="upload_area">
                <h1>Upload Project</h1>
                <a href="/upload"> <button class="upload_btn" id="new_upload_tab">ADD Project</button></a>
            </div>
            <div class="project_list_container">
                <div class="project_list">
                    <% projects.forEach(projects=> { %>
                        <div class="project">
                            <p class="Project_p">Project Tag: <%= projects.projects_tag %>
                                    <a class="download_link" href="/download" download="match.mkv">Download
                                        File</a>
                            </p>

                        </div>
                        <% }); %>
                </div>

            </div>
        </div>
    </div>
    <script src="./new_div.js" type="text/javascript"></script>
</body>

</html>