<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Render-it</title>
    <link rel="stylesheet" href="/sytlesheets/style.css">
</head>

<body>
    <div class="upper_part">

        <img class="upper_img" src="assets/backgrounds/1.png">
        <nav class="navbar">
            <img class="home_logo" src="assets/images/logo.png">
            <ul class="nav_li">
                <li>Home</li>
                <li><a href="/Signup">Signup</a></li>
                <li><a href="/login">Login lets try huray</a></li>
            </ul>
        </nav>
        <div class="nav_lower">
            <div class="nav_lower_img">
                <img src="assets/backgrounds/1_man-removebg-preview.png" </div>
            </div>
            <div class="text_1">
                <p>
                    Your one-stop RENDERING <br>Center
                </p>
            </div>
            <div class="start_btn">
                <a href="/Signup"><button class="">RENDER NOW</button></a>
            </div>

        </div>
    </div>

    <div class="lower">
        <div class="features">
            <div class="feature_1">
                <h1>Upkeep Time</h1>
                <ul>
                    <li>99.9% Upkeep Time</li>
                    <li>Reliable Connection</li>
                </ul>
            </div>
            <div class="feature_2">
                <h1>Secure</h1>
                <ul>
                    <li>Secure File Transfer</li>
                    <li>Fast & Secure</li>
                </ul>
            </div>
            <div class="feature_3">
                <h1>Render Engine</h1>
                <ul>
                    <li>CYCLE</li>
                    <li>EVEE</li>
                </ul>
            </div>
        </div>
        <div class="Render_info">
            <div class="info_1">
                <h1>Project completed</h1>
                <h2>N/A</h2>
            </div>
            <div class="info_2">
                <h1>Total Frames Rendered</h1>
                <h2>N/A</h2>
            </div>
        </div>
        <div class="contact">
            <div class="contact_img">
                <img src="assets/images/contact us.png" </div>
            </div>
            <div class="contact_text">
                <h1> Lets Start a Conversation</h1>
                <p>We value your feedback and inquiries. Feel free to get in touch with us through the channels below.
                    Our team is here to assist you with any questions or concerns you may have.</p>
            </div>
            <div class="Contact_btn">
                <button class="Cont_btn">
                    <p>Contact Us</p>
                </button>

            </div>

        </div>
    </div>




</body>

</html>