<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/sytlesheets/login.css" </head>

<body>
    <a href="/"><img class="logo" src="/assets/images/logo.png"></a>
    <div class="login">
        <img class="login_bg_img" src="/assets/backgrounds/login_signup.jpg" <div class="login_box">

        <div class="login_con">
            <h1>Login</h1>
            <form action="/login" method="post">
                <label class="login_ulab" for="uname">Enter Username</label>
                <input class="login_uint" type="email" placeholder="Enter Username" name="username" required><br>
                <label class="login_plab" for="uname">Enter Password</label>
                <input class="login_pint" type="password" placeholder="Enter Password" name="passcode" required><br>
                <div class="sign_link">
                    <a href="/Signup">Doesn't have an account?</a>
                </div>
                <button class="login_btn">Login</button>
            </form>
        </div>
    </div>

    </div>


</body>

</html>