<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/sytlesheets/signup.css" </head>

<body>
    <a href="/"><img class="logo" src="/assets/images/logo.png"></a>
    <div class="signup">
        <img class="signup_bg_img" src="/assets/backgrounds/login_signup.jpg" <div class="login_box">
        <div class="signup_con">
            <h1>Signup</h1>
            <form action="/Signup" method="post">
                <label class="sign_ulab" for="uname">Enter Username</label>
                <input class="sign_uint" type="text" placeholder="Enter Username" name="Username" required><br>
                <label class="sign_plab" for="uname">Enter Password</label>
                <input class="sign_pint" type="text" placeholder="Enter Password" name="passcode" required><br>
                <div class="login_link">
                    <a href="/login">Already a Member?</a><br>
                </div>
                <button class="sign_btn">Signup</button>
            </form>
        </div>
    </div>

    </div>


</body>

</html>